* , *::before , *::after {
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
    font-weight:normal;
}

body {
    margin:0;
    padding:0;
    background:linear-gradient(to right , yellow , rgb(241, 13, 13) );
}

.calculator-grid {
    display:grid;
    justify-content:center;
    align-content:center;
    min-height: 100vh;
    grid-template-columns:repeat(4 , 100px);
    grid-template-rows:minmax(120px , auto) repeat(5 , 100px);
}

.calculator-grid>button {
    cursor:pointer;
    font-size:2rem;
    border:1px solid white;
    outline:none;
    background-color:rgb(170, 212, 212);
}

.calculator-grid>button:hover {
    background-color: whitesmoke;
}

.span-two {
    grid-column:span 2
}

.output {
    grid-column: 1/-1;
    background-color:black;
    display:flex;
    align-items:flex-end;
    justify-content: space-around;
    flex-direction:column;
    padding:10px;
    word-wrap:break-word;
    word-break:break-all;
}

.previous-operand {
    color:grey;
    font-size:1.5rem;
}

.current-operand {
    color:white;
    font-size:1.5rem;
}
